/*@media (max-width: 392px) {*/
    .section2{
        background: linear-gradient(to top,  #313131 , #111111);
        max-height: 40vh;
        max-width: clamp(100%, 100vw, 100%);
        border-bottom: 8vh solid #fffbf0;
    }
    .loc{
       font-family: "Sora", sans-serif;
       font-weight: 600;
       color: #D8D8D8;
       padding-top: 20%;
       padding-left: 5%;
    }
    .busca{
        display: flex;
        justify-content: space-around;
        
    }
    .busca p{
       color: #A2A2A2;
       font-family: "Sora", sans-serif;
       
    }
    .lu{
        padding: 12px 15px;
        border-radius: 15px;
        background-color: rgb(198, 124, 78);
    }
    .b{
        background: linear-gradient(to right,  #3d3d3d , #201f1f);
        padding: 15px 28%;
        border-radius: 15px;
    }
 
    .image-sec2{
        margin-top: 2%;
       text-align: center;
    }
    .nav-3{
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
       
    }
    .nav-3 a{
        color: #313131;
        font-weight: 600;
        font-family: "Sora", sans-serif;
        border-bottom: 2px solid rgb(198, 124, 78);
        border-radius: 5px;

    }



.section4{
    max-width: clamp(100%, 100vw, 100%);
}
    .area-cafes{
          background-color: #fffbf0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 96%;
        gap: 2%;
    }
    .categoria-cafe{
      background-color: white;
      border-radius: 15px;
      padding: 4%;
      justify-self: center;
      border: 0.1px solid rgba(165, 159, 159, 0.322);
        
    }
    .categoria-cafe img{
        text-align: center;
        margin: 0;
    }
    .categoria-image{
        align-items: center;
    }
    .categoria-cafe h3{
        font-family: "Sora", sans-serif;
        font-weight: 900;
        color: #242424;
        font-style: italic;
      }
      .categoria-cafe h6{
        font-family: "Sora", sans-serif;
        font-size: 14px;
        font-weight: 100;
        color: #A2A2A2;
          
      }
      .categoria-cafe p{
        color: black;
        font-family: "Sora", sans-serif;
        font-weight: 900;
        font-size: 1.2em;
        
      }
    

      .section5{
        box-shadow: 0 -9px 8px rgba(20, 20, 20, 0.055); /* Sombra apenas na parte superior */
        max-width: clamp(100%, 100vw, 100%);
        background-color: #f9f9f9;
        height: 120vh;
        margin-top: 10%;
      }
      .detail{
        display: flex;
        padding: 5% 0% 10% 0%;
        justify-content: space-around;    
        align-items: center;
      }
      .detail p{
        font-size: 1.5em;
        font-family: "Sora", sans-serif;
        font-weight: 700;
      }
      .imagem2{
         text-align: center;
      }
      .flexbox{
        display: flex;
        margin: 5%;
        border-bottom: 1px solid black;
        border-image: linear-gradient(to right, rgb(182, 182, 182), rgb(63, 63, 63), rgb(182, 180, 180)) 1; 
      }
      .classificacao{
        line-height: 140%;
        width: 50%;
      }
      .classificacao h4, h5{
       font-size: 1.5em;
       font-family: "Sora", sans-serif;
       align-items: center;
      }
  
      .classificacao p{
        font-family: "Sora", sans-serif;
        font-size: 0.8em;
        color: gray;
      }
 
      .svgs{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
      }
      .description{
    
        margin-left: 5%;
        margin-right: 5%;
      }
      .description h1{
       font-size: 1.2em;
       font-family: "Sora", sans-serif;
       margin-bottom: 3%;
      }
      .description p{
       
        font-size: 1em;
       font-family: "Sora", sans-serif;
       color: grey;
       word-spacing: 1px;
      }
      .tamanho{
       
    
        margin: 5%;
      }
      .tamanho h1{
        font-size: 1.2em;
        font-family: "Sora", sans-serif;
        margin-bottom: 5%;
      }
      .wrapper{
        display: flex;
        justify-content: space-around;
      }
      .b1{
        background-color: #fff;
        padding: 5% 10%;
        border-radius: 15px;
        border: none;
        border: 1px solid rgba(99, 99, 99, 0.315);
        color: #c67c4e;
        font-size: 1em;
      }
      .b1:hover{
        background-color: #f9f2ed;
        border: 1px solid ;
        color: #c67c4e;
      }
      .pedido{
      
        display: flex;
        justify-content: space-around;
      }
      .preço{
        font-family: "Sora", sans-serif;
        color: grey;
      }
      .preço p{
        color: #c67c4e;
        font-size: 1.2em;
        font-weight: 700;
      }
      
    
      .comprar button{
        padding: 10% 15vw;
        background-color: #c67c4e;
        border: none;
        border-radius: 15px;
        font-family: "Sora", sans-serif;
        color: white;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 10%;
      }
/*}*/



